/* Variable color */
:root{
    --font_family: 'Josefin Sans', sans-serif;

    --light_color: rgba(255, 255, 255, 0.1);
    --white: white;
    --light_green: rgb(81, 138, 88);
    --light_blue: rgb(56, 133, 138);
    --dark_tomato: rgb(170, 30, 5);
    --black: black;
    --light_red: #c65e5c;

    --border_color: rgb(85, 85, 85, 0.1);
    --dark_seting_color: rgba(85, 85, 85, 0.5);
    --setting_color:rgb(85, 85, 85);
}
*{
    box-sizing: border-box;
}
/* ===== BODY ===== */
body{
    background-color: var(--light_blue); 

    font-family: var(--font_family);
    box-sizing: border-box;
    font-size: large;
    font-weight: bold;
    transition: 0.9s;
    position: relative;
}

/* Total CONTAINER (big) */
.total_container{
    width: 100%;
}

a{
    text-decoration: none;
}



/* ======= HEADER ====== */
header{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid var(--light_color);
    position: relative;
}
/* Header logo */
header .header_container{
    display: flex;
    justify-content: space-between;
}

header .header_container .logo{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
header .header_container .logo .logo_image{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header_container .logo .logo_image img{
    width: 100%;
}

header .header_container .logo .logo_content{
    width: 100%;
    display: flex;
    align-items: center;
    /* align-items: flex-end; */
    /* padding-top: 4px; */
    color: var(--white);
}

/* header menu */
.menu .menu_item{
    display: inline-flex;
    justify-content: center;
    padding: 5px 0px;
    background-color: var(--light_color);
    margin-left: 20px;
}
.menu .menu_item:hover{
    background-color: rgba(255, 255, 255, 0.35);
    transition: all 0.3s;
}

.menu .menu_item .menu_item--image{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 5px;
}
.menu .menu_item .menu_item--image img{
    width: 100%;
}

.menu .menu_item .menu_item--content{
    color: var(--white);
}
/* end headder */

/* ======= Absolute SETTING Timeer when click it =========*/
.form_setting{
    width: 35%;
    margin: 0 auto;
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    color: var(--setting_color);
    overflow: auto;

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

/* hide scroll bar */
.form_setting::-webkit-scrollbar {
    display: none;
}

/* all h4 card have margin: 0 defaultly */
.form_setting h4{
    margin: 0;
}
.form_setting .form_setting--head .fa-times{
    cursor: pointer;
}
.form_setting .fa-times:hover {
    color: rgb(193, 6, 6);
}

/* form setting head */
.form_setting .form_setting--head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--border_color);
    margin-bottom: 10px;
}


.form_setting .form_setting--head h4{
    width: 50%;
    color: var(--setting_color);
}


/* Form setting Timer */
.form_setting .form_setting--timer{
    border-bottom: 1px solid var(--border_color);
    margin-bottom: 20px;
}

.form_setting .form_setting--timer .timer_clock{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--dark_seting_color);
}

.form_setting .form_setting--timer .timer_clock h4{
    padding-top: 5px;
    margin: 0 0 0 5px;
}

.form_setting .form_setting--timer h4{
    margin: 0px 0 10px 0;
}

.form_setting .form_setting--timer .set_time{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form_setting .form_setting--timer .set_time_item{
    width: 40%;
}

.form_setting .form_setting--timer .set_time_item input{
    width: 100%;
    min-width: 60px;
    display: inline-block;
    padding: 10px;
    color: var(--dark_seting_color);
    border: none;
    background-color: rgba(85, 85, 85, 0.15);
    outline: none;
    border-radius: 5px;
}


/* Toggle btn */
.auto_start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.auto_start h4{
    margin: 0;
}

.auto_start .toggle_btn{
    width: 60px;
    height: 32px;
    background-color: transparent;
    position: relative;
}

.toggle_btn--before{
    position: absolute;

    background-color: var(--dark_seting_color);
    border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}

.before_break, .before_pomodoro, .before_switch, .before_darkmode{
    /* content: ''; */
    position: absolute;

    width: 28px;
    height: 28px;
    background-color: var(--white);
    border-radius: 50px;
    left: 2px;
    top: 2px;
    transition: 0.3s;
    cursor: pointer;
}

.auto_start .toggle_btn .toggle_btn--cirle{
    display: none;
}

/* toggle color */
.toggle_color{
    background-color: var(--light_blue);
    transition: 0.3s;
}

/* Toggle avtive (nút toggle) */
.toggle_active{
    left: 30px;
    transition: 0.3s;
}

/* ================= */
/* Setting task */
.form_setting .setting_task{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--dark_seting_color);
    font-weight: bold;
}

.form_setting .setting_task h4{
    padding-top: 5px;
    margin: 0 0 0 5px;
}

/* Setting sound */
.form_setting .setting_sound{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--dark_seting_color);
    font-weight: bold;
}

.form_setting .setting_sound h4{
    padding-top: 5px;
    margin: 0 0 0 5px;
}   

/* form sound */
.form_sound{
    margin-bottom: 20px;
}

.form_sound .form_sound_main{
    display: flex;
    justify-content: space-between;
}

.form_sound .alarm_sound_dropdown{
    width: 40%;
    height: 40px;
    position: relative;
}

.form_sound .alarm_sound_dropdown .select_sound{
    font-family: var(--font_family);
    font-size: 18px;
    width: 100%;
    height: 40px;
    min-width: 60px;
    display: block;
    padding: 5px;
    color: black;
    border: none;
    background-color: rgba(85, 85, 85, 0.15);
    outline: none;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    z-index: -1;
    /* cursor: pointer; */
}

.form_sound .alarm_sound_dropdown:hover{
    background-color: rgba(85, 85, 85, 0.2);
}

.form_sound .alarm_sound_dropdown::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 85%;
    top: 50%;
    transform: translateY(-75%) rotateZ(45deg);
    border: 2px solid var(--setting_color);
    border-left: transparent;
    border-top: transparent;
    z-index: 5;
    padding: 2px;
    margin-right: 2px;
    cursor: pointer;
    pointer-events: visible;
}

.list_sound{
    position: absolute;
    top: 41px;
    width: 100%;
    background-color: var(--white);

    display: none;
}

.form_sound .alarm_sound_dropdown .list_sound div{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.form_sound .alarm_sound_dropdown .list_sound div:hover{
    background-color: var(--dark_seting_color);
}

/* Slide Sound */
.slide__sound{
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Cho thanh trượt sound */
.slider{
    opacity: 1;
    appearance: none;
    background-color: var(--dark_seting_color);
    border-radius: 10px;
    height: 6px;
    transition: 0.6s;
}

/* Cho nút trượt sound*/
.slider::-webkit-slider-thumb{
    background-color: white;
    box-shadow: 1px 1px 5px 1px gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    appearance: none;
}

/* ====== Repeat sound ====== */
.repeat_sound{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.repeat_sound p{
    display: inline-block;
    margin-right: 5px;
}
.repeat_sound input{

    width: 30%;
    min-width: 60px;
    height: fit-content;
    display: block;
    padding: 10px;
    color: var(--dark_seting_color);
    border: none;
    background-color: rgba(85, 85, 85, 0.15);
    outline: none;
    border-radius: 5px;
}

/* ===== Ticking Sound =======*/
.setting_ticking_sound{
    margin-bottom: 20px;
    margin-top: 10px;
}

.setting_ticking_sound .ticking_sound_main{
    display: flex;
    justify-content: space-between;
}

.setting_ticking_sound .ticking_sound_dropdown{
    width: 40%;
    height: 40px;
    position: relative;
}

.setting_ticking_sound .ticking_sound_dropdown .select_ticking_sound{
    font-family: var(--font_family);
    font-size: 18px;
    width: 100%;
    height: 40px;
    min-width: 60px;
    display: block;
    padding: 5px;
    color: black;
    border: none;
    background-color: rgba(85, 85, 85, 0.15);
    outline: none;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    z-index: -1;
    /* cursor: pointer; */
}

.setting_ticking_sound .ticking_sound_dropdown:hover{
    background-color: rgba(85, 85, 85, 0.2);
}

.setting_ticking_sound .ticking_sound_dropdown::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 85%;
    top: 50%;
    transform: translateY(-75%) rotateZ(45deg);
    border: 2px solid var(--setting_color);
    border-left: transparent;
    border-top: transparent;
    z-index: 5;
    padding: 2px;
    margin-right: 2px;
    cursor: pointer;
    pointer-events: visible;
}

.list_ticking_sound{
    position: absolute;
    top: 41px;
    width: 100%;
    background-color: var(--white);

    display: none;
}

.setting_ticking_sound .ticking_sound_dropdown .list_ticking_sound div{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.setting_ticking_sound .ticking_sound_dropdown .list_ticking_sound div:hover{
    background-color: var(--dark_seting_color);
}


/* ----- Slide Ticking ---- */
.slide__ticking-sound{
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Cho thanh trượt sound */
.slider_ticking{
    opacity: 1;
    appearance: none;
    background-color: var(--dark_seting_color);
    border-radius: 10px;
    height: 6px;
    transition: 0.6s;
}

/* Cho nút trượt sound*/
.slider_ticking::-webkit-slider-thumb{
    background-color: white;
    box-shadow: 1px 1px 5px 1px gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    appearance: none;
}

/* ======= Setting theme ======== */
.form__theme{
    margin-top: 20px;
}

.form__theme .form__theme--logo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--dark_seting_color);
    font-weight: bold;
}

.form__theme .form__theme--logo .image__theme{
    width: 20px;
    height: 20px;
}

.form__theme .form__theme--logo .image__theme img{
    width: 100%;
    color: var(--dark_seting_color);
}

.form__theme .form__theme--logo h4{
    padding-top: 5px;
    margin: 0 0 0 3px;
}

/* ===== Setting color theme ======= */
.color_theme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.color_pomodoro, .color_breaktime, .color_blue , .color_green , .color_red{
    width: 28px;
    height: 28px;
    border-radius: 5px;
    cursor: pointer;
}

.color_pomodoro{
    background-color: var(--light_blue);
}
.color_breaktime{
    background-color: var(--light_green);
}

.color_blue{
    background-color: var(--light_blue);
}
.color_green{
    background-color: var(--light_green);
}
.color_red{
    background-color: var(--light_red);
}

.color_theme--group , .choose_color{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

/* choose_color DISPLAY-NONE */
.choose_color{
    position: absolute;
    top: -145px;
    right: 0;
    width: 70%;
    background-color: rgb(36, 32, 32);
    border-radius: 5px;

    display: none;
}

.choose_color--form{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 10px;
}

.choose_color p{
    color: white;
    margin-left: 15px;
}

.choose_color--close{
    width: 100%;
    position: relative;
    height: 40px;
}

.choose_color--closeBtn{
    position: absolute;
    right: 0;
    padding: 5px;
    color: rgb(179, 156, 118);
    background-color: transparent;
}

.choose_color--closeBtn:hover{
    background-color: transparent;
    color: rgb(193, 172, 137);
}


/* ====== OK Btn ====== */
.setting_okay_btn{
    background-color: rgba(85, 85, 85, 0.15);
    text-align: right;
    position: absolute;
    left: 0;
    right: 0;
}

.btn_okay{
    margin-right: 20px;
    min-width: 70px;
    padding: 7px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(35, 34, 34);

}
.btn_okay:hover{
    background-color: rgb(24, 23, 23);
}



/* ==== End absolute Setting =====*/

/* CONTAINER   (set Grid)*/ 
#container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    gap: 2px 20px;

    color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

/*====== NOTICE and INPUT=======*/
.notice{
    grid-area: 1/1/2/2;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-weight: bold;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notice_content{
    width: 100%;
}


/*----==== ADD Item ===-----*/
.add_item{
    grid-area: 1/2/2/3;
    width: 100%;
    position: relative;
}

.add_item .start_add_item{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border: 2px dashed rgba(255, 255, 255, 0.35);
    display: block;
    background-color:var(--light_color);
    width: 100%;
}

.add_item .start_add_item:hover{
    background-color: rgba(255, 255, 255, 0.35);
}

/*======= input list =======*/
.add_list{
    /* position: absolute;
    left: 0;
    top:100%;
    z-index: 5; */
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: end; */
    width: 100%;

    /* background-color: black; */
    border-radius: 5px;
    color: var(--setting_color);
    background-color: var(--white);
    margin-top: 3px;

    display: none;
}
.form-group, .input_type_date{
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.add_list .enterTask #input{
    background-color: rgba(238, 233, 233, 0.3);
}

.form-group #type_description{
    flex-grow: 1;
    margin-right: 15px;
    font-family: var(--font_family);
    color: black;
    font-size: 16px;
    outline: none;
    font-weight: 600;
}

.add_list .form-group #type_task{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: black;
    background-color: rgb(238, 233, 233);   
    font-family: var(--font_family);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.add_list .input_type_date input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: black;
    background-color: rgb(238, 233, 233);
    font-family: var(--font_family);
    font-size: 15px;
    font-weight: 600;
}

#input_date{
    cursor: pointer;
}


/* button add task */

.add_list .btn_additem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    margin-top: 15px;
    background-color: rgb(238, 233, 233);
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.add_list #add_task, .change-name-add-btn{
    width: 20%;
    background-color:rgb(40, 38, 38);
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    margin: 0 15px 0 5px;
}
.add_list #add_task:hover, .change-name-add-btn:hover{
    color: var(--white);
    /* border-color: var(--white); */
    background-color: rgb(69, 62, 62);
    transition: all 0.3s;
}

.add_list #cancel{
    color: rgb(65, 63, 63);
    padding: 2px;
    background-color: transparent;
}
.add_list #cancel:hover{
    color:  rgb(5, 5, 5);
}

.add_list #done_now{
    text-align: left;
    margin-left: 14px;
    padding: 0;
    color: rgb(65, 63, 63);;
    margin-right: auto;
    background-color: transparent;
}
.add_list #done_now:hover{
    color: rgb(179, 32, 6);
}

.add_list #un_done{
    text-align: left;
    margin-left: 14px;
    padding: 0;
    color: rgb(65, 63, 63);;
    margin-right: auto;
    background-color: transparent;
    flex-grow: 1;
}
.add_list #un_done:hover{
    color: rgb(39, 99, 142);
}


.add_list #input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(63, 56, 56, 0.2);
    padding: 15px;
    border-radius: 5px 5px 5px 5px;
    color: var(--black);
    font-size: 16px;
    margin-bottom: 15px;
    height: fit-content;
    font-weight: 600;
    font-family: var(--font_family);
}

.add_list #input:focus{
    outline: none;
    font-family: var(--font_family);
    font-size: 16px;
    padding: 15px;
    font-weight: 600;
}

::placeholder{
    color: inherit;
    font-size: 16px;
    font-family: var(--font_family);
    font-weight: 600;
    height: fit-content;
    color: rgb(179, 175, 175);
}

.form-group{
    margin-bottom: 15px;
}


/* COUNTDOWN_TIME */
#countdown_time{
    font-weight: bold;
    font-size: 70px;
    margin: 25px 0px 25px 0px;
}

/* BUTTON */
button{
    background-color: inherit;
    color: var(--white);
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    font-family: var(--font_family);
    font-size: large;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s;;
    /* border: 1px solid var(--white); */
    color: var(--white);
    font-weight: bold;
    transition: all 0.2s;
}


/* ======= TIME ========   (set Default for height) */
.time{
    grid-area: 2/1/3/2;
    background-color: var(--light_color);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    /* Default for height */
    height: 250px;          
} 

/* Button Start, Pause, Skip */
#start , #pause{
    width: fit-content;
    display: inline-block;
}
#start:hover , #pause:hover{
    background-color: rgba(255, 255, 255, 0.35);
    transition: all 0.3s;;
    color: var(--white);
}
#skip{
    padding: 5px;
    background-color: inherit;
}
#skip:hover{
    color: black;
    background-color: inherit;
    border: 1px solid transparent;
}


/* ======= TASK =======   (set min heigth 250px for .task)*/
.task_and_input{
    position: relative;
    grid-area: 2/2/3/3;
    margin-top: -2px;
}

.task{
    background-color: var(--light_color);
    border-radius: 5px;
    padding: 15px;
    position: relative;
    margin-top: 2px;
    
    /* min height */
    min-height: 250px;
}

.task h4{
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.task #to-do-list{
    margin-top: 12px;
    margin-bottom: 0px;
}

/* ======= Absolute FILTER ======= */
.filter{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0 5px 0 0;
    width: 20%;
    padding: 5px;
    font-family: var(--font_family);
    overflow: hidden;
}


.filter:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.filter option{
    font-weight: 500;
}

/* end .task */

/* =================== CSS style for some card items that created by Javascript ======================= */
ul{
    padding-left: 0px;
}

ul li{
    padding-left: 5px;
    color: black;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: var(--light_color);
    border-radius: 5px;
    margin-bottom: 1px;
    word-break: break-word;
}


li span{
    display: flex;
    align-items: center ;
}

li span.edit{
    margin-right: -35px;
    margin-left: -30px;
    padding: 10px 8px;
}   

li span.delete{
    padding: 10px;
}

.content{
    width: 75%;
}

.pointFinish{
    font-weight: bold;
    color: rgb(158, 65, 49);
    background-color: var(--light_color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5%;
}

span{
    padding: 5px 5px;
}

.edit:hover , .delete:hover {
    background-color: crimson;
    cursor: pointer;
    color: white;
}

.delete:hover{
    border-radius: 0px 5px 5px 0px;
}

/* When click on Item */
.chooseItem{
    background-color: rgba(255, 255, 255, 0.4);
}

/* When completed work */
.completeItem{
    text-decoration: line-through;
    color: rgb(205, 37, 8);
    /* color: rgb(255, 255, 255); */
}


/*======== Time ======= */
.active_PomodoroAndBreakTime {
    background-color: rgba(255, 255, 255, 0.3);
    /* border: 0.2px solid var(--dark_tomato); */
    color: var(--dark_tomato);
}
.active_PomodoroAndBreakTime:hover {
    background-color: rgba(255, 255, 255, 0.35);
    transition: all 0.3s;;
    border-color: var(--dark_tomato);
    color: var(--dark_tomato);
}





/* ===== FOOTER ===== */
footer{
    width: 80%;
    margin: 0 auto;
    margin-top: 7%;
    font-size: 1rem;
}

footer a{
    color: rgba(255, 255, 255, 0.85);
}

footer a:hover{
    color: white;
}

.footer_container{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid var(--light_color);
}

.footer_container .footer_link{
    text-transform: uppercase;
    padding: 8px;
    display: inline-block;
    margin-bottom: 10px;
}

.footer_container .footer_image img{
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;
}





/* displayBlock */
.display_Block{
    display: block;
    transition: 0.5s;
    z-index: 5;
    position: absolute;
}

.display_Flex{
    display: flex;
    transition: 0.5s;
}

/* Position Fixed */
.position_fixed{
    position: fixed;
    transition: 0.5s;
}


/* display None */
.display_None{
    display: none;
}

/* color white */
.color_white{
    color: rgba(255, 255, 255, 0.12);
    transition: 0.3s;
}

/* opacity */
.opacity {
    opacity: 0.12;
}

/* Grid Time */
.grid_time{
    position: relative;
    left: 100%;
    transform: translateX(-20%);
    
    z-index: 5;
}